<html>
    <body>
      <div style="background-color:<%= reqpath %>">
        <h2> sample application </h2>
        <h2> Hostname : <%= hostname %> </h2>
        <h2> RequestPath : <%= reqpath %> </h2>
      </div>
    </body>
</html>