<!-- views/index.ejs -->
<html>
    <head>
        <title>Sample Application</title>
    </head>
    <body>
        <div>
            <h1>Hostname Viewer</h1>
            <h2>Hostname: <%= hostname %></h2>
        </div>
    </body>
</html>
<!-- 
app.get('/', (req, res) => {
    return res.status(200).send(`
        <html>
            <body>
                <div>
                    <h2> sample application </h2>
                    <h2> Hostname : ${os.hostname()} </h2>
                </div>
            </body>
        </html>
    `);
}); 
-->