<!-- views/index.ejs -->
<html>
    <head>
        <title>Sample Application</title>
    </head>
    <body>
        <div>
            <h1>Hostname Viewer</h1>
            <h2>Hostname: <%= hostname %></h2>
        </div>
    </body>
</html>